set routing-instances CONPOW forwarding-options dhcp-relay forward-snooped-clients all-interfaces
set routing-instances CONPOW forwarding-options dhcp-relay overrides no-arp
set routing-instances CONPOW forwarding-options dhcp-relay server-group default 10.21.18.96
set routing-instances CONPOW forwarding-options dhcp-relay server-group default 10.21.19.131
set routing-instances CONPOW forwarding-options dhcp-relay group default active-server-group default
set routing-instances CONPOW forwarding-options dhcp-relay group default interface {{src_intf}}
